<header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Learn</em>Flow</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li ><a [routerLink]="['/home']">Home</a></li>        
        <li class="has-submenu"><a [routerLink]="['/WhoAreWeComponent']">About Us</a>
          <ul class="sub-menu">
            <li><a [routerLink]="['/WhoAreWeComponent']">Who are we ?</a></li>
            <li><a [routerLink]="['/WhyChooseUsComponent']">Why choose us?</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['/courses']">Courses</a></li>
        <!-- <li><a href="#section5">Video</a></li> -->
        <li><a [routerLink]="['/contact']">Contact</a></li>
        <li><a [routerLink]="['/Community']">Community</a></li>
        
      </ul>
    </nav>
  </header>