<section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why Choose LearnFlow for AI Learning?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>

            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-01.png" alt="Comprehensive AI Education">
                  </div>
                  <div class="col-md-6">
                    <h4>Comprehensive AI Education</h4>
                    <p>LearnFlow offers a comprehensive and structured curriculum on AI, from the basics of machine learning to deep learning techniques. Our courses are designed to help you build a strong foundation in AI concepts and techniques, making you ready to tackle real-world AI challenges.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-02.png" alt="Expert AI Trainers">
                  </div>
                  <div class="col-md-6">
                    <h4>Expert AI Trainers</h4>
                    <p>At LearnFlow, you'll learn from industry-leading AI experts who have hands-on experience in building AI solutions. Our instructors bring cutting-edge knowledge and practical insights to help you understand the complexities of AI and how to apply them in the real world.</p> 
                    <p>Whether you're looking to dive into AI research or develop AI-powered applications, our team is here to guide you every step of the way.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/choose-us-image-03.png" alt="Hands-On AI Projects">
                  </div>
                  <div class="col-md-6">
                    <h4>Hands-On AI Projects</h4>
                    <p>Learning AI is not just about theory; it's about practical implementation. At LearnFlow, you will work on real AI projects, from developing machine learning models to deploying AI applications. These hands-on experiences will give you the confidence and expertise needed to build your own AI solutions.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>