.section-heading h2 {
    text-align: center;
    margin-top: 150px;
    position: relative;
    font-size: 2.5em;
    font-weight: 500;
    color: #f5a425;
    letter-spacing: 0.5px;
    display: inline-block;
    padding: 15px 20px;
    border: 2px solid rgba(250, 250, 250, 0.1);
  }
  .tabs-content{
    margin-top: -50px;
  }