

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
            <h6>LearnFlow Academy</h6>
            <h2><em>Your</em> Learning Adventure</h2>
                <div class="main-button">
                  <div class="scroll-to-section"><a [routerLink]="['/quiz']">Don't know where to start ?</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  

 


  