<section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Who are we?</h2>
          </div>
        </div>
        <div class="col-md-12">



          
          <div id='tabs'>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="assets/images/courses.jfif" alt="" style="height: 400px; width: 550px; margin-top: 50px;">
                  </div>
                  <div class="col-md-6">
                    <h4>Welcome to LearnFlow</h4>
                    <p>
                    LearnFlow is a platform designed for everyone passionate about learning Artificial Intelligence (AI). Whether you're:<br>
                    <strong>Students:</strong> Strengthen your knowledge and master AI concepts to excel in your studies.<br>
                    <strong>Professors:</strong> Stay ahead by exploring advanced AI topics and tools to enrich your teaching.<br>
                    <strong>Professionals:</strong> Shift your career and become an AI developer by mastering industry-relevant skills.<br>
                    At LearnFlow, we believe in empowering learners of all levels to unlock their potential in the exciting world of AI. Join us and embark on a journey of growth and innovation.
                    </p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
  